# Code

## Download .xlsx File

In [2]:
%ls

 Volume in drive C is Acer
 Volume Serial Number is E4E3-A3AF

 Directory of C:\Users\edely\Documents\Repo\tritone_sub

17/04/2023  07:20 am    <DIR>          .
17/04/2023  06:22 am    <DIR>          ..
17/04/2023  07:20 am    <DIR>          .ipynb_checkpoints
17/04/2023  07:20 am             1,724 code.ipynb
               1 File(s)          1,724 bytes
               3 Dir(s)  28,509,286,400 bytes free

In [3]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver import ChromeOptions
import time

link = "https://jobs.homesteadstudio.co/data-engineer/assessment/download/"
dl_dir = {"download.default_directory" : r'C:\Users\edely\Documents\Repo\tritone_sub',
          "download.prompt_for_download": False,
          "download.directory_upgrade": True,
          "safebrowsing_for_trusted_sources_enabled": False,
          "safebrowsing.enabled": False
        }

options = ChromeOptions()
options.add_experimental_option("prefs",dl_dir)

driver = webdriver.Chrome(chrome_options=options)
driver.get(link)
element = driver.find_element(By.XPATH, "//a[text()='Download']")
element.click()
time.sleep(3)

C:\Users\edely\AppData\Local\Temp\ipykernel_16764\1288625611.py:18: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(chrome_options=options)

Check for the downloaded file

In [4]:
%ls

 Volume in drive C is Acer
 Volume Serial Number is E4E3-A3AF

 Directory of C:\Users\edely\Documents\Repo\tritone_sub

17/04/2023  07:21 am    <DIR>          .
17/04/2023  06:22 am    <DIR>          ..
17/04/2023  07:20 am    <DIR>          .ipynb_checkpoints
17/04/2023  07:20 am             1,724 code.ipynb
17/04/2023  07:21 am           424,621 skill_test_data.xlsx
               2 File(s)        426,345 bytes
               3 Dir(s)  28,488,499,200 bytes free

## Pivot Table

In [5]:
import pandas as pd
import numpy as np

In [41]:
#read xlsx file
data_df = pd.read_excel('skill_test_data.xlsx', sheet_name='data')

In [42]:
data_df.head()

,Date,Platform (Northbeam),Name,Status,Medium,Source,Spend,Attributed Rev (1d),LTV Attributed Rev,Forecasted Attributed Rev (30d),...,LTV Transactions,Forecasted Attributed Transactions (30d),Forecasted Attributed Transactions (60d),Forecasted Attributed Transactions (90d),Email Signups (1d),LTV Email Signups,Email Signup Rate (1d),LTV Email Signup Rate,Cost per Email Signup (1d),LTV Cost per Email Signup
0,2022-11-26,Facebook Ads,02_Prospecting_$LC_Testing_ABO,Active,NaN,NaN,517.530000,342.4250,342.4250,342.904505,...,2.750000,2.753759,2.797963,2.817787,8.000000,8.000000,0.065574,0.065574,64.691250,64.691250
1,2022-11-27,Facebook Ads,02_Prospecting_$LC_Testing_ABO,Active,NaN,NaN,555.820000,207.2200,345.7000,346.402255,...,2.500000,2.504960,2.545530,2.563725,7.500000,7.500000,0.065789,0.065789,74.109333,74.109333
2,2022-11-28,Facebook Ads,02_Prospecting_$LC_Testing_ABO,Active,NaN,NaN,540.560000,263.9700,263.9700,265.556109,...,1.500000,1.510491,1.548336,1.565310,2.000000,2.000000,0.017699,0.017699,270.280000,270.280000
3,2022-11-29,Facebook Ads,02_Prospecting_$LC_Testing_ABO,Active,NaN,NaN,523.920001,81.9100,81.9100,84.156071,...,0.500000,0.516178,0.560684,0.580645,9.500000,9.500000,0.070896,0.070896,55.149474,55.149474
4,2022-11-30,Facebook Ads,02_Prospecting_$LC_Testing_ABO,Active,NaN,NaN,509.619999,229.6225,285.6225,288.601927,...,1.583333,1.606053,1.662670,1.688062,7.083333,7.083333,0.045699,0.045699,71.946353,71.946353

In [43]:
data_df

,Date,Platform (Northbeam),Name,Status,Medium,Source,Spend,Attributed Rev (1d),LTV Attributed Rev,Forecasted Attributed Rev (30d),...,LTV Transactions,Forecasted Attributed Transactions (30d),Forecasted Attributed Transactions (60d),Forecasted Attributed Transactions (90d),Email Signups (1d),LTV Email Signups,Email Signup Rate (1d),LTV Email Signup Rate,Cost per Email Signup (1d),LTV Cost per Email Signup
0,2022-11-26,Facebook Ads,02_Prospecting_$LC_Testing_ABO,Active,NaN,NaN,517.530000,342.4250,342.4250,342.904505,...,2.750000,2.753759,2.797963,2.817787,8.000000,8.000000,0.065574,0.065574,64.691250,64.691250
1,2022-11-27,Facebook Ads,02_Prospecting_$LC_Testing_ABO,Active,NaN,NaN,555.820000,207.2200,345.7000,346.402255,...,2.500000,2.504960,2.545530,2.563725,7.500000,7.500000,0.065789,0.065789,74.109333,74.109333
2,2022-11-28,Facebook Ads,02_Prospecting_$LC_Testing_ABO,Active,NaN,NaN,540.560000,263.9700,263.9700,265.556109,...,1.500000,1.510491,1.548336,1.565310,2.000000,2.000000,0.017699,0.017699,270.280000,270.280000
3,2022-11-29,Facebook Ads,02_Prospecting_$LC_Testing_ABO,Active,NaN,NaN,523.920001,81.9100,81.9100,84.156071,...,0.500000,0.516178,0.560684,0.580645,9.500000,9.500000,0.070896,0.070896,55.149474,55.149474
4,2022-11-30,Facebook Ads,02_Prospecting_$LC_Testing_ABO,Active,NaN,NaN,509.619999,229.6225,285.6225,288.601927,...,1.583333,1.606053,1.662670,1.688062,7.083333,7.083333,0.045699,0.045699,71.946353,71.946353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488,2022-12-20,Organic Search,Referral: google.co.kr,NaN,NaN,NaN,NaN,0.0000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
1489,2022-12-20,Google Ads,arb_ga_elm_md_pmx_us_urlx,NaN,cpc,google,NaN,0.0000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
1490,2022-12-21,Other,Referral: qq.com,NaN,NaN,NaN,NaN,0.0000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
1491,2022-12-22,Organic Search,Referral: google.com.ar,NaN,NaN,NaN,NaN,0.0000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
1492,2022-12-23,Organic Search,Referral: google.com.co,NaN,NaN,NaN,NaN,0.0000,0.0000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN

In [80]:
pivot = pd.pivot_table(data=data_df, 
                       values=['Spend','Attributed Rev (1d)','Imprs','Visits','New Visits','Transactions (1d)','Email Signups (1d)'], 
                       index=['Platform (Northbeam)'], 
                       aggfunc='sum', 
                       margins=True, 
                       margins_name='Grand Total'
                      )
pivoted_df = pivot.loc[:"YouTube Organic",['Spend','Attributed Rev (1d)','Imprs','Visits','New Visits','Transactions (1d)','Email Signups (1d)']].sort_values(by='Attributed Rev (1d)', ascending=False).append(pivot.loc['Grand Total'])

C:\Users\edely\AppData\Local\Temp\ipykernel_16764\3905574318.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pivoted_df = pivot.loc[:"YouTube Organic",['Spend','Attributed Rev (1d)','Imprs','Visits','New Visits','Transactions (1d)','Email Signups (1d)']].sort_values(by='Attributed Rev (1d)', ascending=False).append(pivot.loc['Grand Total'])

In [81]:
pivoted_df

,Spend,Attributed Rev (1d),Imprs,Visits,New Visits,Transactions (1d),Email Signups (1d)
Platform (Northbeam),,,,,,,
Google Ads,28228.1000,9.044841e+04,1476413.0,16391.0,11927.0,5.910878e+02,774.245418
Facebook Ads,30073.4242,4.987223e+04,1225850.0,18298.0,13864.0,3.143456e+02,799.209524
Organic,0.0000,4.505668e+04,0.0,24377.0,9741.0,3.428705e+02,303.238299
Organic Search,0.0000,2.447903e+04,0.0,5575.0,4160.0,1.630339e+02,269.623016
Unattributed,0.0000,4.860460e+03,0.0,0.0,0.0,5.800000e+01,36.000000
Instagram Organic,0.0000,2.614293e+03,0.0,557.0,454.0,1.703333e+01,53.750000
Other,0.0000,2.205548e+03,0.0,643.0,365.0,2.817619e+01,21.950000
Other Email,0.0000,1.521822e+03,0.0,435.0,138.0,1.320238e+01,3.000000
TikTok,1108.4500,1.360636e+03,58796.0,526.0,269.0,8.259524e+00,21.283333
Facebook Organic,0.0000,1.231290e+03,0.0,544.0,460.0,7.833333e+00,34.700000
YouTube Organic,0.0000,4.508300e+02,0.0,156.0,142.0,3.000000e+00,13.000000
SMSBump,0.0000,2.960400e+02,0.0,57.0,19.0,2.000000e+00,5.166667
Transactional,0.0000,1.363270e+02,0.0,43.0,18.0,7.250000e-01,1.000000
Klaviyo,0.0000,8.485000e+01,0.0,10.0,7.0,5.000000e-01,0.000000
Discount Site,0.0000,5.983233e+01,0.0,36.0,24.0,4.333333e-01,0.100000
Yotpo,0.0000,1.359600e-23,0.0,17.0,8.0,1.000000e-25,0.000000
LinkedIn Ads,0.0000,0.000000e+00,0.0,2.0,2.0,0.000000e+00,0.000000
Pinterest,0.0000,0.000000e+00,0.0,27.0,23.0,0.000000e+00,0.000000
Reddit,0.0000,0.000000e+00,0.0,37.0,37.0,0.000000e+00,0.000000
Snapchat Ads,0.0000,0.000000e+00,0.0,3.0,2.0,0.000000e+00,0.000000
LinkTree,0.0000,0.000000e+00,0.0,294.0,286.0,0.000000e+00,8.000000
Twitter,0.0000,0.000000e+00,0.0,8.0,7.0,0.000000e+00,0.000000
Grand Total,59409.9742,1.170936e+05,2761059.0,29193.0,21764.0,7.534624e+02,1241.643831

## SQLite3

In [86]:
import sqlite3
connection = sqlite3.connect("test.db")

In [87]:
pivoted_df.to_sql('pivot_table',connection,if_exists='replace',index=False)
connection.commit()

In [88]:
cursor = connection.cursor()
cursor.execute("select * from pivot_table")
output = cursor.fetchall()
connection.commit()
connection.close()
output_df = pd.DataFrame(output)

In [89]:
output_df

,0,1,2,3,4,5,6
0,28228.1000,9.044841e+04,1476413.0,16391.0,11927.0,5.910878e+02,774.245418
1,30073.4242,4.987223e+04,1225850.0,18298.0,13864.0,3.143456e+02,799.209524
2,0.0000,4.505668e+04,0.0,24377.0,9741.0,3.428705e+02,303.238299
3,0.0000,2.447903e+04,0.0,5575.0,4160.0,1.630339e+02,269.623016
4,0.0000,4.860460e+03,0.0,0.0,0.0,5.800000e+01,36.000000
5,0.0000,2.614293e+03,0.0,557.0,454.0,1.703333e+01,53.750000
6,0.0000,2.205548e+03,0.0,643.0,365.0,2.817619e+01,21.950000
7,0.0000,1.521822e+03,0.0,435.0,138.0,1.320238e+01,3.000000
8,1108.4500,1.360636e+03,58796.0,526.0,269.0,8.259524e+00,21.283333
9,0.0000,1.231290e+03,0.0,544.0,460.0,7.833333e+00,34.700000
10,0.0000,4.508300e+02,0.0,156.0,142.0,3.000000e+00,13.000000
11,0.0000,2.960400e+02,0.0,57.0,19.0,2.000000e+00,5.166667
12,0.0000,1.363270e+02,0.0,43.0,18.0,7.250000e-01,1.000000
13,0.0000,8.485000e+01,0.0,10.0,7.0,5.000000e-01,0.000000
14,0.0000,5.983233e+01,0.0,36.0,24.0,4.333333e-01,0.100000
15,0.0000,1.359600e-23,0.0,17.0,8.0,1.000000e-25,0.000000
16,0.0000,0.000000e+00,0.0,2.0,2.0,0.000000e+00,0.000000
17,0.0000,0.000000e+00,0.0,27.0,23.0,0.000000e+00,0.000000
18,0.0000,0.000000e+00,0.0,37.0,37.0,0.000000e+00,0.000000
19,0.0000,0.000000e+00,0.0,3.0,2.0,0.000000e+00,0.000000
20,0.0000,0.000000e+00,0.0,294.0,286.0,0.000000e+00,8.000000
21,0.0000,0.000000e+00,0.0,8.0,7.0,0.000000e+00,0.000000
22,59409.9742,1.170936e+05,2761059.0,29193.0,21764.0,7.534624e+02,1241.643831

## Push to Github

In [93]:
%cd tritone_sub

C:\Users\edely\Documents\Repo\tritone_sub

In [95]:
!git init

Initialized empty Git repository in C:/Users/edely/Documents/Repo/tritone_sub/.git/

In [115]:
!git add .

warning: in the working copy of 'code.ipynb', LF will be replaced by CRLF the next time Git touches it

In [116]:
!git status

On branch main

No commits yet

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)
	new file:   .gitignore
	new file:   code.ipynb

In [112]:
!git checkout -b main

Switched to a new branch 'main'

In [117]:
!git commit -m 'push to github'

error: pathspec 'to' did not match any file(s) known to git
error: pathspec 'github'' did not match any file(s) known to git

In [107]:
!git remote add origin https://github.com/selwyntarr/tritone_sub.git

In [108]:
!git push -u origin master

error: src refspec master does not match any
error: failed to push some refs to 'https://github.com/selwyntarr/tritone_sub.git'